[submodule "vendor/sdl"]
	path = vendor/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/catch2"]
	path = vendor/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "vendor/SDL_ttf"]
	path = vendor/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
